<div class="cta"
{% if template.name == 'cart' or template.name == 'search' or template.name == 'account' or template.name == 'addresses' or template.name == 'login' or template.name == 'order' or template.name == 'register' %}
  style="margin-top: 10rem;"
{% endif %}
>
  <div class="top">
    <div class="inner">
      <div class="box fadeIn">
        <a class="btn03" href="/pages/guide/">
          初めてご利用の方へ<br>
          <span>SHOPPING GUIDE</span>
          <div class="ushi"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi05.svg" alt=""></div>
        </a>
      </div><!-- /.box -->
      <div class="box fadeIn">
        <a class="btn03" href="/pages/faq/">
          よくあるご質問<br>
          <span>Q&A</span>
          <div class="ushi"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi06.svg" alt=""></div>
        </a>
      </div><!-- /.box -->
    </div>
  </div><!-- /.top -->
  <div class="bottom">
    <div class="left"><a href="/pages/company/"><p>会社概要<br><span>COMPANY</span></p></a></div>
    <div class="right"><a href="/pages/contact/"><p>お問い合わせ<br><span>CONTACT</span></p></a></div>
  </div><!-- /.bottom -->
</div><!-- /.cta -->