<footer>
  <div class="inner">
    <div class="column col01">
      <div class="logo img-box"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/logo.svg" alt="">公式オンラインショップ</div>
      <p class="u-pc">
        有限会社おっぱ乳業<br>
        〒905-0415<br>
        沖縄県国頭郡今帰仁村字玉城763番地<br>
        TEL：0980-56-5326<br>
        FAX：0980-56-5328<br>
      </p>
    </div>
    <div class="column col02">
      <nav>
        <ul>
          <li class="tri"><a href="{{ routes.root_url }}">トップページ</a></li>
          <li class="tri"><a href="/pages/about/">おっぱ乳業について知る</a></li>
        </ul>
      </nav>
    </div>
    <div class="column col03">
      {% comment %} <nav>
        <ul>
          <li class="tri"><a style="pointer-events: none;" href="#">おっぱヨーグルト</a></li>
          <li><a href="#">製品について詳しく知る</a></li>
          <li><a href="/collections/yogurt/">おっぱヨーグルト一覧</a></li>
        </ul>
      </nav> {% endcomment %}
      <nav>
        <ul>
          <li class="tri"><a style="pointer-events: none;" href="#">おきなわンジェラート</a></li>
          {% comment %} <li><a href="#">製品について詳しく知る</a></li> {% endcomment %}
          <li><a href="/collections/gelato/">おきなわンジェラート一覧</a></li>
        </ul>
      </nav>
    </div>
    <div class="column col04">
      <nav>
        <ul>
          <li class="tri"><a href="/pages/guide/">初めてご利用の方へ</a></li>
          <li class="tri"><a href="/pages/faq/">よくあるご質問</a></li>
          <li class="tri"><a href="/pages/company/">会社について</a></li>
          <li class="tri"><a href="/pages/contact/">お問い合わせ</a></li>
        </ul>
      </nav>
      <div class="smal-link">
        <a href="/pages/policy/">プライバシーポリシー</a>
        <a href="/pages/terms/">特定商取引法に基づく表記</a>
      </div>
      <p class="u-sp">
        有限会社おっぱ乳業<br>
        〒905-0415 沖縄県国頭郡今帰仁村字玉城763番地<br>
        TEL：0980-56-5326/FAX：0980-56-5328
      </p>
    </div>
  </div><!-- /.inner -->
  <p class="copy"><small>Copyright © 有限会社おっぱ乳業 All Right Reserved.</small></p>
</footer>