<header id="header">
  <div class="header-inner">
    <h1 class="logo img-box"><a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/logo.svg" alt="牛乳製造加工販売 有限会社おっぱ乳業">公式オンラインショップ</a></h1>
    <div class="nav-list">
      <nav class="nav01">
        <ul>
          <li><a href="/pages/about/">おっぱ乳業について<br><span>ABOUT US</span></a></li>
          <li><a class="arrow" href="/collections/all/">おっぱヨーグルト<br><span>YOGURT</span></a></li>
          <li><a class="arrow" href="/collections/all/">じぇらーと<br><span>GELATO</span></a></li>
          <li><a href="/pages/guide/">初めてご利用の方へ<br><span>SHOPPING GUIDE</span></a></li>
          <li><a href="/pages/faq/">よくあるご質問<br><span>Q＆A</span></a></li>
        </ul>
      </nav>
      <nav class="nav02">
        <ul>
          <li><a href="/search/"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-serch.svg" alt="">探す</a></li>
          <li><a href="/account/"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-login.svg" alt="">ログイン</a></li>
          <li><a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-cart.svg" alt="">カート</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>