<div class="p_item p_item-bottom">

  <div class="inner">

    <div class="note-area">
      <p class="note-ttl"><span><img src="images/icon-note.svg" alt=""></span>ご注文前にご確認ください<span><img src="images/icon-note.svg" alt=""></span></p>
      <div class="box">
        <div class="head-ttl">注文から10営業日以降の日時指定(ヤマト運輸)のみの販売です。</div>
        <p>少ない人数で、丁寧に生産・発送準備をしております。</p>
      </div>
      <div class="box">
        <div class="head-ttl">数量限定での販売のため、ご注文数に制限がございます。</div>
        <p>大量生産をせず、小さな工場でつくっています。ご了承いただけますと幸いです。</p>
      </div>
      <div class="box">
        <div class="head-ttl">必ずお受け取りできる日時をご指定ください。</div>
        <p>最高の状態で、美味しくいただいて欲しいです！指定日にお受け取りできないと品質が落ちてしまいます。。</p>
      </div>
      <div class="box">
        <div class="head-ttl">北海道および離島にはお届けできません。大変申し訳ございません。</div>
        <p>配送距離の都合上、北海道および離島にはお届けできません。予めご了承くださいませ。</p>
      </div>
    </div><!-- /.note-area -->

  </div><!-- /.inner -->

</div><!-- /.p_item -->

{% render 'under-common-block' %}



{% schema %}
  {
    "name": "item-detail-bottom",
    "presets": [
      {
        "name": "item-detail-bottom"
      }
    ]
  }
{% endschema %}