<!-- メインビジュアル -->
<div class="mv">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide mv01 img-box obj-fit">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/mv01.jpg" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/mv01.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide mv02 img-box obj-fit">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/mv02.jpg" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/mv02.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide mv03 img-box obj-fit">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/mv03.jpg" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/mv03.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide mv04 img-box obj-fit">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/mv04.jpg" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/mv04.jpg" alt="">
        </picture>
      </div>
    </div><!-- /.swiper-wrapper -->
    <div class="swiper-pagination"></div>
  </div><!-- /.swiper -->
  <div class="mv_ttl">
    <p class="anime-ttl01">
      <span>や</span><span>ん</span><span>ば</span><span>る</span><span>で</span><span>生</span><span>ま</span><span>れ</span><span>た</span><span>、</span><br>
      <span>太</span><span>陽</span><span>の</span><span>恵</span><span>み</span><span>た</span><span>っ</span><span>ぷ</span><span>り</span><span>の</span><br>
      <span>濃</span><span>厚</span><span>な</span><span>ミ</span><span>ル</span><span>ク</span><span>の</span><span>味</span><span>わ</span><span>い</span>
    </p>
  </div>
  <div class="ushi anime-bounce01"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi01.svg" alt=""></div>
  <div class="circle img-box">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/circle01_sp.svg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/circle01.svg" alt="">
    </picture>
  </div>
</div><!-- /.mv -->

<section class="p-top_wrap01">
  <div class="inner">
    <div class="flex">
      <div class="left">
        <div class="img-box fadeIn">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/top-about_img01_sp.png" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/top-about_img01.png" alt="">
          </picture>
        </div>
        <div class="ushi fadeIn"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi02.svg" alt=""></div>
      </div><!-- /.left -->
      <div class="right">
        <div class="ttl fadeIn">
          <p>大量生産せず、</p>
          <p>一つ一つにこだわった製品</p>
        </div>
        <p class="fadeIn">
          私たち「おっぱ乳業」は、乳牛一頭一頭と向き合い、自然の恵みを大切にしながら、皆様に安心してお楽しみいただける製品をお届けします。是非、やんばるの大地が育んだ、こだわりの製品をご賞味ください。
        </p>
        <a class="btn01 fadeIn" href="/pages/about/">おっぱ乳業について知る</a>
        <div class="subttl">ABOUT OPPA</div>
      </div>
    </div>
  </div><!-- /.inner -->
</section><!-- /.p-top_wrap01 -->

<section class="p-top_wrap02">
  <div class="inner">
    <h2 class="fadeIn">人気ランキング</h2>
    <p class="sub-ttl fadeIn">RANKING</p>
    <ul class="ranking-swiper">
      <div class="swiper-wrapper">
        <li class="item-card swiper-slide fadeIn">
          <a href="item.html">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/dummy-item01.jpg" alt=""></div>
            <p class="name">おきなわじぇらーと 12個セット</p>
            <p class="price">¥0,000<span>（税込）</span></p>
          </a>
        </li>
      </div><!-- /.swiper-wrapper -->
      <div class="swiper-scrollbar"></div>
    </ul>
    <a class="btn02 fadeIn" href="/collections/all/">全ての商品を見る</a>
    <div class="ushi yoyo01 fadeIn"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi03.svg" alt=""></div>
    <div class="ushi yoyo02 fadeIn"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi04.svg" alt=""></div>
  </div><!-- /.inner -->
</section><!-- /.p-top_wrap02 -->

<section class="p-top_wrap03">
  <h2 class="fadeIn">商品ラインナップ</h2>
  <p class="sub-ttl fadeIn">LINE UP</p>
  <div class="block fadeIn">
    <div class="box">
      <div class="box-inner">
        <h3>おっぱヨーグルト</h3>
        <p>
          自社牧場で搾乳した生乳のみを使用したヨーグルト。<br>
          製造に限りがあるので、毎週木曜日にしか発送されないレアな一品です！<br>
          数量限定での販売になりますので、お早めにお求めください。
        </p>
        <a class="btn02" href="#">製品についてもっと知る</a>
        <a class="btn02" href="item.html">商品を見る</a>
        <div class="badge">数量<br>限定</div>
      </div>
    </div><!-- /.box -->
  </div><!-- /.block -->
  <div class="block fadeIn">
    <div class="box">
      <div class="box-inner">
        <h3>おきなわンじぇらーと</h3>
        <p>
          なんといっても素材の良さ。じぇらーとをつくる牛乳それ自体が沖縄の太陽とミネラルたっぷりの海風を浴びてのんびり育った乳牛からとれたミルク。<br>
          南国のトロピカルフルーツや、長寿の島・沖縄を代表する特産品をフレーバーに使っています。
        </p>
        <a class="btn02" href="#">製品についてもっと知る</a>
        <a class="btn02" href="item.html">商品を見る</a>
      </div>
    </div><!-- /.box -->
  </div><!-- /.block -->
  <a class="btn02 allitem fadeIn" href="/collections/all/">全ての商品を見る</a>
</section><!-- /.p-top_wrap03 -->

{% render 'under-common-block' %}


{% schema %}
  {
    "name": "top-main",
    "presets": [
      {
        "name": "top-main"
      }
    ]
  }
{% endschema %}