<div class="under-mv p_faq">
  <h2>よくあるご質問</h2>
  <p>Q&A</p>
</div>

<div class="p_faq">

  <div class="inner-wraper">
    <div class="inner">

      <div class="anker-link">
        <a class="btn01" href="#to-item">商品について</a>
        <a class="btn01" href="#to-payment">ご注文・お支払いについて</a>
        <a class="btn01" href="#to-delivery">送料・配送について</a>
        <a class="btn01" href="#to-return">返品・交換について</a>
        <a class="btn01" href="#to-gift">ギフトについて</a>
      </div>

      <div class="block">

        <div id="to-item" class="anker-point">
          <h2>おっぱ乳業/商品について</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">なぜ「おっぱ」なんですか？</dt>
              <dd>
                <p>
                  おっぱ乳業は、今帰仁村の美しい自然に囲まれた乙羽岳（おっぱだけ）から由来しています。<br>
                  私たちについては、ぜひ「おっぱ乳業について」のページをご覧ください。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">どうして販売数が少ないの？</dt>
              <dd>
                <p>
                  おっぱ乳業では、少数精鋭のチームで丁寧に生産を行っています。大量生産には対応していませんが、その分品質と味にこだわっています。<br>
                  牛さんの生乳の供給にも依存しますので、ご了承いただけますと幸いです。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">必ず日時指定しないといけませんか？</dt>
              <dd>
                <p>
                  注文から10営業日（土日祝除く）以降の【水・木・金・土・日】にて日時指定をお願いしています。商品の特性上、受け取りができないと溶けてしまうため、ご協力のほどよろしくお願いいたします。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">商品は店舗で買えますか？</dt>
              <dd>
                <p>
                  取扱店舗は、<a href="https://www.oppanyu.jp/shop.php" target="_blank">こちら</a>からご覧ください。
                </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

        <div id="to-payment" class="anker-point">
          <h2>ご注文・お支払いについて</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">電話やFAXで注文できますか？</dt>
              <dd>
                <p>
                  電話やFAXでの対応はしておりません。ECサイトでのご注文のみの対応とさせていただきます。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">お支払い方法は何がありますか？</dt>
              <dd>
                <p>
                  銀行前払いのみとなっております。入金確認後の発送となります。<br>
                  <span>
                    【銀行口座情報】<br>
                    琉球銀行 今帰仁支店 普通 口座番号 32095<br>
                    有限会社 おっぱ乳業<br>
                    ユウゲンガイシャ オッパニュウギョウ<br>
                  </span>
                  （手数料はお客様ご負担となります。）
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">注文内容の変更/キャンセルをしたいです。</dt>
              <dd>
                <p>
                  商品の発送前でしたら対応可能な場合もございます。一度、お電話（0980-56-5326）よりご相談ください。<br>
                  なお、商品発送後の注文のキャンセルおよび商品の返品等はお受けできかねます。予めご了承ください。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">注文したのですが、注文確認のメールが届かないです。</dt>
              <dd>
                <p>
                  当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。
                </p>
                <p>
                  ●ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？<br>
                  ・特に@以降の間違いが多くございます。「@***.ne.jp」<br>
                  ・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。
                </p>
                <p>
                  ●受信拒否の設定をされていませんか？<br>
                  ・特にスマートフォンにおいて、受信先の設定をされている場合がございます。<br>
                  設定をご確認いただき、受信先を指定されている場合は、「info@oppanyu.jp」からのメールを受信ドメインにご登録ください。
                </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

        <div id="to-delivery" class="anker-point">
          <h2>送料・配送について</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">送料、手数料はかかりますか？</dt>
              <dd>
                <p>
                  販売価格は、税込み表記となっております。<br>
                  送料は、下記をご参照ください。<br>
                  <br>
                  北東北：2,860 円<br>
                  南東北：2,710 円<br>
                  信越・北陸：2,560 円<br>
                  関東・中部・関西・中国・四国：2,400円<br>
                  九州：2,270円<br>
                  沖縄：1,560円<br>
                  <br>
                  ※北海道及び離島への配送は行っておりませんので、予めご了承くださいませ。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">日付指定できますか？</dt>
              <dd>
                <p>
                  お届け日は、注文から10営業日（土日祝除く）以降の【水・木・金・土・日】に日時指定をお選びいただけます。必ず時間指定までしていただくようお願いいたします。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">注文してからどれくらいで発送されますか？</dt>
              <dd>
                <p>
                  注文から2週間程度、生産・発送準備にお時間いただいております。お届け日は、注文から10営業日（土日祝除く）以降の日時指定いただいたお時間にお届けいたします。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">注文したのですが、注文確認のメールが届かないです。</dt>
              <dd>
                <p>
                  海外への発送は可能ですか？
                </p>
                <p>現在海外への発送は対応しておりません。予めご了承ください。</p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">配送会社はどこですか？</dt>
              <dd>
                <p>
                  配送会社はどこですか？
                </p>
                <p>ヤマト運輸での配送です。（クール便のため、配送会社のご指定はできかねます）</p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">複数の配送先に送りたいのですが、できますか？</dt>
              <dd>
                <p>
                  1回のご注文内でお届け先を分けることはできかねます。複数の配送先へのお届けをご希望の場合は、お手数ですがそれぞれのお届け先ごとにご注文をお願いいたします。<br>
                  同一注文者で複数ご注文ある場合、一括振り込み可能です。ご不明な点はお電話ください。
                  </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

        <div id="to-return" class="anker-point">
          <h2>返品・交換について</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">商品を返品・交換したいです。</dt>
              <dd>
                <p>
                  お客様のご都合による交換（受け取れなかったために溶けてしまったなど）はお受け致しかねます。<br>
                  また、乳製品はクール便でのお届けとなります。ご指定日時に必ずお受け取りください。お受け取り出来ないと品質に大きく影響してしまいます。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">届いた商品が違うものでした。</dt>
              <dd>
                <p>
                  大変申し訳ございません。お電話（0980-56-5326）までご連絡ください。
                </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

        <div id="to-gift" class="anker-point">
          <h2>ギフトについて</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">ラッピングやのし、メッセージカードはつけてもらえますか。</dt>
              <dd>
                <p>
                  のしシールをご用意しております。ご注文の際にご希望ののしシール（お歳暮、お中元、内祝い）を選択ください。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">ギフト配送の場合、金額のわかるものは入っていますか。</dt>
              <dd>
                <p>
                  お値段のわかるものは同梱いたしませんので、ご安心くださいませ。
                </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

      </div><!-- /.block -->


    </div><!-- /.inner -->
  </div>

</div><!-- /.p_faq-->

{% render 'under-common-block' %}

