<div class="about-under-mv p_about">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/under-mv01_sp.png" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/under-mv01.jpg" alt="">
    </picture>   
  </div>
  <div class="under_mv-ttl">
    <h2>おっぱ乳業について</h2>
    <p>ABOUT OPPA</p>
  </div>
</div><!-- /.under-mv -->

<div class="p_about">

  <section class="wrap01">
    <h2 class="fadeIn">おっぱ乳業の由来は、“乙羽岳”</h2>
    <p class="fadeIn">
      おっぱ乳業の起源は、今帰仁村の美しい自然に囲まれた乙羽岳（おっぱだけ）での酪農にあります。12年にわたる酪農生活の中で、平成3年に生乳の生産調整が始まり、余った牛乳が廃棄される事態に直面しました。この辛い経験が、私たちおっぱ乳業の設立へとつながりました。絞りたての牛乳を自分たちの手で製造・販売することで、酪農家としての誇りと牛乳の価値を守りたいという思いから、おっぱ乳業は生まれました。
    </p>
    <div class="photo01 img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_img01.png" alt=""></div>
    <div class="photo02 img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_img02.png" alt=""></div>
    <div class="ushi01 yoyo02"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi04.svg" alt=""></div>
    <div class="ushi02 yoyo01"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi03.svg" alt=""></div>
  </section><!-- /.wrap01-->

  <section class="wrap02">
    <div class="inner-wrap">
      <div class="inner">
        <div class="ttl fadeIn"><p>こだわりの製造方法</p></div>
        <div class="box flex fadeIn">
          <div class="left">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_img03.png" alt=""></div>
            <div class="ushi03"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi02.svg" alt=""></div>
          </div>
          <div class="right">
            <h2>やんばるの自然にこだわりました</h2>
            <p>
              酪農から始まった私たちは、乳牛一頭一頭に向き合い、愛情込めて飼育しています。やんばるの自然に育まれた牛からの新鮮な牛乳を、できるだけ早く工場に運び、牛乳本来の風味を最大限に引き出すために中温殺菌を行っています。さらに、ソフトクリームやジェラートの開発にも力を入れており、沖縄産の素材や地域の特産品を使った、この地域ならではの商品づくりに励んでいます。私たちが目指すのは、観光立県沖縄に貢献する、地域密着型の商品づくりです。
            </p>
          </div>
        </div><!-- /.box -->
        <div class="box second flex fadeIn">
          <div class="left">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_img04.png" alt=""></div>
            <div class="ushi04"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi01.svg" alt=""></div>
          </div>
          <div class="right">
            <h2>少数体制で、一つ一つ丁寧に</h2>
            <p>
              おっぱ乳業では、少数精鋭のチームで丁寧に生産を行っています。大量生産には対応していませんが、それは私たちが品質と味にこだわり、お客様に本当に美味しい製品をお届けしたいからです。<br>
              私たちは、「美味しい」を追求し続け、その美味しさをお客様に届けること、そして守り続けることに全力を尽くしています。<br>
              おっぱ乳業の製品の、手間ひまかけたこだわりの味をぜひご堪能ください。
            </p>
          </div>
        </div><!-- /.box second -->
        <div class="btn-wrap fadeIn"><a class="btn02" href="/collections/all">おっぱ乳業の商品一覧</a></div><!-- /.btn-wrap-->
      </div>
    </div>
  </section><!-- /.wrap02 -->

  <section class="wrap03">
    <div class="about-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider01.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider02.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider03.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider04.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider05.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider06.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider07.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider08.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider09.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider10.jpg" alt=""></div>
        <div class="swiper-slide img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_slider11.jpg" alt=""></div>
      </div>
    </div>
  </section><!-- /.wrap03 -->

  <section class="wrap04">
    <div class="inner-wrap">
      <div class="inner">
        <h2 class="fadeIn">商品ラインナップ</h2>
        <p class="sub-ttl fadeIn">LINE UP</p>
        {% comment %} <div class="block flex fadeIn">
          <div class="left">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_lineup01.jpg" alt=""></div>
          </div><!-- /.left -->
          <div class="right">
            <p>おっぱヨーグルト</p>
            <div class="flex">
              <a class="btn02" href="#">製品についてもっと知る</a>
              <a class="btn02" href="#">商品を見る</a>
            </div>
          </div><!-- /.right -->
          <div class="badge">数量<br>限定</div>
        </div><!-- /.block --> {% endcomment %}
        <div class="block flex fadeIn">
          <div class="left">
            <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/p-about_lineup02.jpg" alt=""></div>
          </div><!-- /.left -->
          <div class="right">
            <p>おきなわンじぇらーと</p>
            <div class="flex">
              {% comment %} <a class="btn02" href="#">製品についてもっと知る</a> {% endcomment %}
              <a class="btn02" href="/collections/gelato/">商品を見る</a>
            </div>
          </div><!-- /.right -->
        </div><!-- /.block -->
      </div><!-- /.inner -->
    </div>
  </section><!-- /.wrap04 -->

</div><!-- /.p_about-->

{% render 'under-common-block' %}