<div class="under-mv p_policy">
  <h2>プライバシーポリシー</h2>
  <p>PRIVACY POLICY</p>
</div>

<div class="p_policy">

  <div class="inner-wraper">
    <div class="inner">

      <p class="first_txt">
        有限会社おっぱ乳業（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
      </p>

      <div class="policy_wrap">
        <h3 class="medium_ttl">個人情報の管理</h3>
        <div class="txt_box">
          <p>
            当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
          </p>
        </div>

        <h3 class="medium_ttl">個人情報の利用目的</h3>
        <div class="txt_box">
          <p>お客様からお預かりした個人情報は、当社がご提供させていただく以下の目的に応じて、収集・利用をさせて頂きます。</p>
          <ul class="dots_list">
            <li>ご意見やお問い合わせへの対応</li>
            <li>サンプルや商品、資料の発送</li>
          </ul>
        </div>

        <h3 class="medium_ttl">個人情報の第三者への開示・提供の禁止</h3>
        <div class="txt_box">
          <p>当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
          <ul class="dots_list">
            <li>お客さまの同意がある場合</li>
            <li>お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対し開示する場</li>
            <li>法令に基づき開示することが必要である場合</li>
          </ul>
        </div>

        <h3 class="medium_ttl">個人情報の安全対策</h3>
        <div class="txt_box">
          <p>当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</p>
        </div>

        <h3 class="medium_ttl">ご本人の照会</h3>
        <div class="txt_box">
          <p>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>
        </div>

        <h3 class="medium_ttl">法令、規範の遵守と見直し</h3>
        <div class="txt_box">
          <p>当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
        </div>

        <h3 class="medium_ttl">お問い合せ</h3>
        <div class="txt_box">
          <p>
            当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。<br>
            有限会社おっぱ乳業<br>
            〒905-0415<br>
            沖縄県国頭郡今帰仁村字玉城763番地<br>
            0980-56-5326
          </p>
        </div>
      </div>

    </div><!-- /.inner -->
  </div><!-- /.inner-wrapper -->

</div><!-- /.p_policy -->

{% render 'under-common-block' %}