<div class="under-mv p_contact">
  <h2>お問い合わせ</h2>
  <p>CONTACT</p>
</div>

<div class="p_contact">

  <div class="inner-wraper">
    <div class="inner">

      <p class="message">
        お問い合わせは、下記お電話またはメールフォームにて承ります。<br>
        また、お客さまからよく寄せられる質問とその回答を、<a href="/pages/faq/">「よくある質問」ページ</a>にまとめておりますので、ぜひご覧ください。
      </p>

      <div class="contact-tel">
        <p>お電話から</p>
        <a href="tel:0989435434"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-tel.svg" alt="">098-943-5434</a>
        <p class="business-hours">営業時間｜11:00~19:00（電話受付時間）</p>
      </div>

      <h3>メールフォームから</h3>
      <div class="form_wrap">
        {% section 'contact-form' %}
      </div>

    </div><!-- /.inner -->
  </div><!-- /.inner-wrapper -->

</div><!-- /.p_contact-->

{% render 'under-common-block' %}
