<div class="under-mv p_guide">
  <h2>初めてご利用の方へ</h2>
  <p>SHOPPING GUIDE</p>
  <div class="ushi"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi07.svg" alt=""></div>
  <div class="ushi"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/illust-ushi08.svg" alt=""></div>
</div>

<div class="p_guide">

  <div class="wrap01">
    <div class="inner">

      <div class="note-area">
        <p class="note-ttl"><span><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-note.svg" alt=""></span>ご注文前に<br class="u-sp">ご確認ください<span><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-note.svg" alt=""></span></p>
        <div class="box">
          <div class="head-ttl">注文から10営業日以降の日時指定<br class="u-sp">(ヤマト運輸)のみの販売です。</div>
          <p>少ない人数で、丁寧に生産・発送準備をしております。</p>
        </div>
        <div class="box">
          <div class="head-ttl">数量限定での販売のため、<br class="u-sp">ご注文数に制限がございます。</div>
          <p>大量生産をせず、小さな工場でつくっています。ご了承いただけますと幸いです。</p>
        </div>
        <div class="box">
          <div class="head-ttl">必ずお受け取りできる日時を<br class="u-sp">ご指定ください。</div>
          <p>最高の状態で、美味しくいただいて欲しいです！指定日にお受け取りできないと品質が落ちてしまいます。。</p>
        </div>
        <div class="box">
          <div class="head-ttl">北海道・離島にはお届けできません。<br class="u-sp">大変申し訳ございません。</div>
          <p>配送距離の都合上、北海道および離島にはお届けできません。予めご了承くださいませ。</p>
        </div>
      </div><!-- /.note-area -->

    </div><!-- /.inner -->
  </div><!-- /.wrap01 -->

  <div class="wrap02">
    <div class="inner">
      <h2>・ご注文の流れ・</h2>
      <div class="box">
        <h3><div><p>1</p></div>商品を選ぶ</h3>
        <div class="flex">
          <div class="left">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/guide-flow01.png" alt=""></div>
          </div>
          <div class="right">
            <p>
              商品一覧から、商品を選びます。<br>
              <span>
                ※数量限定での販売のため売り切れの可能性がございます。<br>
                ※生産数に限りがございますので、お一人様5セットまでのご注文となっております。
              </span>
            </p>
          </div>
        </div><!-- /.flex -->
      </div><!-- /.box -->

      <div class="box">
        <h3><div><p>2</p></div>ご確認事項をチェックの上、<br class="u-sp">カートに入れる</h3>
        <div class="flex">
          <div class="left">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/guide-flow02.png" alt=""></div>
          </div>
          <div class="right">
            <p>
              各チェック項目をご確認の上、カートに入れるボタンを押してください。
            </p>
          </div>
        </div><!-- /.flex -->
      </div><!-- /.box -->

      <div class="box">
        <h3><div><p>3</p></div>受け取り可能な配達日時を<br class="u-sp">ご指定</h3>
        <div class="flex">
          <div class="left">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/guide-flow03.png" alt=""></div>
          </div>
          <div class="right">
            <p>
              生産の都合上、下記サイクルにて出荷・配送しております。<br>
              【毎週木曜日出荷/土曜日着予定】<br>
              土曜日の受け取り可能な日時をご指定ください。
            </p>
            <p>
              ●指定可能時間
              午前中/14時〜16時/16時〜18時/18時〜20時/19時〜21時
            </p>
            <p>※のしシールご希望の方は、この画面で選択できます。</p>
            <p>
              <span>※指定日にお受け取りできないと品質が落ちてしまいますので、必ず受け取り可能なお時間をご指定ください。美味しく食べて欲しいです！</span>
            </p>
          </div>
        </div><!-- /.flex -->
      </div><!-- /.box -->

      <div class="box">
        <h3><div><p>4</p></div>お届け先・お支払い方法等を<br class="u-sp">ご指定</h3>
        <div class="flex">
          <div class="left">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/guide-flow04.png" alt=""></div>
          </div>
          <div class="right">
            <p>
              配送先のご住所・お支払い方法等をご指定ください。
            </p>
          </div>
        </div><!-- /.flex -->
      </div><!-- /.box -->
      
      <div class="box">
        <h3><div><p>5</p></div>ご注文完了</h3>
        <div class="flex">
          <div class="left">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/guide-flow05.png" alt=""></div>
          </div>
          <div class="right">
            <p>
              ご注文が完了すると、お客様のメールアドレスに「ご注文完了」のお知らせメールが自動配信されます。メールが届かない場合は、トラブルの可能性がございますので、お手数ですがお電話にてご連絡ください。<br>
              ※ご注文商品の在庫切れ等、お届けに時間がかかる場合は、別途お知らせいたします。
            </p>
            <p>
              <span>※入金が確認できた日の次の木曜日に出荷いたします。</span>
            </p>
          </div>
        </div><!-- /.flex -->
      </div><!-- /.box -->

    </div><!-- /.inner -->
  </div><!-- /.wrap02 -->

  <div class="wrap03">
    <div class="inner">
      <h2>・お支払いについて・</h2>
      <div class="box">
        <h3>クレジットカード</h3>
        <p>
          ご利用いいただけるカードはVisa、Mastercard、American Express、JCBです。<br>
          ※クレジットカード番号の入力や送信の際は、暗号化（SSL）処理されますので、安全にクレジットカードをご利用いただけます。
        </p>
        <h3>銀行振込（先払い）</h3>
        <p>
          ご注文完了後、７日以内に下記の弊社指定口座にお振込みください。<br>
          琉球銀行 今帰仁支店 普通 口座番号 32095<br>
          有限会社 おっぱ乳業<br>
          ユウゲンガイシャ オッパニュウギョウ<br>
          <span>
            ※ お振込み手数料は、お客様負担となります。<br>
            ※ 7日以内にご入金のない場合、ご注文はキャンセルとさせていただきます。
          </span>
        </p>
      </div>
    </div><!-- /.inner -->
  </div><!-- /.wrap03 -->

</div><!-- /.p_policy -->

