<div class="under-mv p_company">
  <h2>特定商取引法に基づく表記</h2>
  <p>TERMS</p>
</div>

<div class="p_terms">

  <div class="inner-wraper">
    <div class="inner">

      <table>
        <tr>
          <th>販売業者</th>
          <td>有限会社おっぱ乳業</td>
        </tr>
        <tr>
          <th>運営統括責任者</th>
          <td>松 清嗣</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>〒905-0415　<br class="u-sp">沖縄県国頭郡今帰仁村字玉城763番地</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>
            0980-56-5326
          </td>
        </tr>
        <tr>
          <th>FAX</th>
          <td>0980-56-5328</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>info@oppanyu.jp</td>
        </tr>
        <tr>
          <th>取扱商品</th>
          <td>乳製品、ジェラート</td>
        </tr>
        <tr>
          <th>販売価格</th>
          <td>各商品ページをご参照ください。</td>
        </tr>
        <tr>
          <th>商品代金以外の<br>必要料金</th>
          <td>消費税・送料・手数料（代引き手数料一律300円+税）はお客様のご負担となります。</td>
        </tr>
        <tr>
          <th>送料について</th>
          <td>
            北東北：2,860 円<br>
            南東北：2,710 円<br>
            信越・北陸：2,560 円<br>
            関東・中部・関西・中国・四国：2,400円<br>
            九州：2,270円<br>
            沖縄：1,560円
          </td>
        </tr>
        <tr>
          <th>申し込みの有効期限</th>
          <td>原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。</td>
        </tr>
        <tr>
          <th>不良品</th>
          <td>
            商品が届きましたら直ちに内容のご確認をお願いいたします。<br>
            万が一不良品の疑いがございましたら、直ちにご連絡ください。<br>
            商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
            不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。<br>
            <br>
            <span>※指定日に受け取りができななかったために品質が落ちてしまったものはご対応できかねますので、ご了承ください。</span>
          </td>
        </tr>
        <tr>
          <th>販売数量</th>
          <td>お一人様5セットまで</td>
        </tr>
        <tr>
          <th>引き渡し時期</th>
          <td>
            決済完了後（代金引換を除く）、5営業日以内(土日祝日を除く)に発送いたします。
            天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。
          </td>
        </tr>
        <tr>
          <th>お支払い方法</th>
          <td>銀行振込（前払い）</td>
        </tr>
        <tr>
          <th>お支払い期限</th>
          <td>
            銀行振り込み（前払い）のみとなっております。入金確認後の発送となります。<br>
            5営業日(土日祝日を除く)以内にご入金ください。<br>
            【銀行口座情報】<br>
            琉球銀行 今帰仁支店 普通 口座番号 32095<br>
            有限会社 おっぱ乳業<br>
            ユウゲンガイシャ オッパニュウギョウ<br>
            （手数料はお客様ご負担となります。）
          </td>
        </tr>
        <tr>
          <th>返品・交換について</th>
          <td>
            ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
            商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。<br>
            <br>
            ご注文商品と異なる商品や不良品をお届けした場合、商品到着後1週間以内にお電話にてご連絡いただきますようお願い申し上げます。<br>
            <br>
            0980-56-5326<br>
            営業時間：10:00～16:00<br>
            <br>
            商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。
          </td>
        </tr>
      </table>

    </div><!-- /.inner -->
  </div><!-- /.inner-wrapper -->

</div><!-- /.p_terms-->


{% render 'under-common-block' %}

