<div class="under-mv p_faq">
  <h2>よくあるご質問</h2>
  <p>Q&A</p>
</div>

<div class="p_faq">

  <div class="inner-wraper">
    <div class="inner">

      <div class="anker-link">
        <a class="btn01" href="#to-item">商品について</a>
        <a class="btn01" href="#to-payment">ご注文・お支払いについて</a>
        <a class="btn01" href="#to-delivery">送料・配送について</a>
        <a class="btn01" href="#to-return">返品・交換について</a>
        <a class="btn01" href="#to-gift">ギフトについて</a>
      </div>

      <div class="block">

        <div id="to-item" class="anker-point">
          <h2>おっぱ乳業/商品について</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">なぜ「おっぱ」なんですか？</dt>
              <dd>
                <p>
                  おっぱ乳業は、今帰仁村の美しい自然に囲まれた乙羽岳（おっぱだけ）から由来しています。<br>
                  私たちについては、ぜひ「おっぱ乳業について」のページをご覧ください。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">どうして販売数が少ないの？</dt>
              <dd>
                <p>
                  おっぱ乳業では、少数精鋭のチームで丁寧に生産を行っています。大量生産には対応していませんが、その分品質と味にこだわっています。<br>
                  牛さんの生乳の供給にも依存しますので、ご了承いただけますと幸いです。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">必ず土曜日にしか受け取れませんか？</dt>
              <dd>
                <p>
                  基本的には土曜の受け取りでお願いいたします。もし難しい場合は、お電話ください。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">商品は店舗で買えますか？</dt>
              <dd>
                <p>
                  取扱店舗は、こちらからご覧ください。
                </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

        <div id="to-payment" class="anker-point">
          <h2>ご注文・お支払いについて</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">電話やFAXで注文できますか？</dt>
              <dd>
                <p>
                  電話やFAXでの対応はしておりません。ECサイトでのご注文のみの対応とさせていただきます。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">お支払い方法は何がありますか？</dt>
              <dd>
                <p>
                  クレジット（VISA、Diners Club、Discover、Master、JCB、American Express）のみの決済となっております。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">注文内容の変更/キャンセルをしたいです。</dt>
              <dd>
                <p>
                  商品の発送前でしたら対応可能な場合もございます。一度、お電話（0980-56-5326）よりご相談ください。<br>
                  なお、商品発送後の注文のキャンセルおよび商品の返品等はお受けできかねます。予めご了承ください。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">注文したのですが、注文確認のメールが届かないです。</dt>
              <dd>
                <p>
                  当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。
                </p>
                <p>
                  ●ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？<br>
                  ・特に@以降の間違いが多くございます。「@***.ne.jp」<br>
                  ・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。
                </p>
                <p>
                  ●受信拒否の設定をされていませんか？<br>
                  ・特にスマートフォンにおいて、受信先の設定をされている場合がございます。<br>
                  設定をご確認いただき、受信先を指定されている場合は、「info@oppanyu.jp」からのメールを受信ドメインにご登録ください。
                </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

        <div id="to-delivery" class="anker-point">
          <h2>送料・配送について</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">送料、手数料はかかりますか？</dt>
              <dd>
                <p>
                  販売価格は、税込み表記となっております。
                  送料は、<span>県内〇〇円、県外〇〇円</span>です。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">日付指定できますか？</dt>
              <dd>
                <p>
                  お届け日は、ご注文日の7日以降よりご希望の日時をお選びいただけます。 お届け日を指定しない場合は、ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。<br>
                  ※お急ぎの方は、お問合せフォームよりご相談ください。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">注文してからどれくらいで発送されますか？</dt>
              <dd>
                <p>
                  毎週木曜日発送、土曜日着でお届けします。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">注文したのですが、注文確認のメールが届かないです。</dt>
              <dd>
                <p>
                  海外への発送は可能ですか？
                </p>
                <p>現在海外への発送は対応しておりません。予めご了承ください。</p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">配送会社はどこですか？</dt>
              <dd>
                <p>
                  配送会社はどこですか？
                </p>
                <p>ヤマト運輸での配送です。（クール便のため、配送会社のご指定はできかねます）</p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">配送会社はどこですか？</dt>
              <dd>
                <p>
                  複数の配送先に送りたいのですが、できますか？
                </p>
                <p>1回のご注文内でお届け先を分けることはできかねます。複数の配送先へのお届けをご希望の場合は、お手数ですがそれぞれのお届け先ごとにご注文をお願いいたします。</p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

        <div id="to-return" class="anker-point">
          <h2>返品・交換について</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">商品を返品・交換したいです。</dt>
              <dd>
                <p>
                  お客様のご都合による交換（受け取れなかったために溶けてしまったなど）はお受け致しかねます。<br>
                  また、乳製品はクール便でのお届けとなります。ご指定日時に必ずお受け取りください。お受け取り出来ないと品質に大きく影響してしまいます。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">届いた商品が違うものでした。</dt>
              <dd>
                <p>
                  大変申し訳ございません。お電話（0980-56-5326）までご連絡ください。
                </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

        <div id="to-gift" class="anker-point">
          <h2>ギフトについて</h2>
          <div class="qa-list mts">
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">ラッピングやのし、メッセージカードはつけてもらえますか。</dt>
              <dd>
                <p>
                  のしシールをご用意しております。ご注文の際にご希望ののしシールを選択ください。
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt><img src="https://cdn.shopify.com/s/files/1/0661/0393/5125/files/icon-q.svg" alt="">ギフト配送の場合、金額のわかるものは入っていますか。</dt>
              <dd>
                <p>
                  商品お届け先とご請求先が異なるご注文の場合は、納品書、明細書などお値段のわかるものは同梱いたしません。
                </p>
              </dd>
            </dl>
          </div><!-- /.qa-list -->
        </div><!-- /.anker-point -->

      </div><!-- /.block -->


    </div><!-- /.inner -->
  </div>

</div><!-- /.p_faq-->

{% render 'under-common-block' %}

