<div class="under-mv p_company">
  <h2>会社概要</h2>
  <p>COMPANY</p>
</div>

<div class="p_company">

  <div class="inner-wraper">
    <div class="inner">

      <table>
        <tr>
          <th>会社名</th>
          <td>有限会社おっぱ乳業</td>
        </tr>
        <tr>
          <th>創業</th>
          <td>平成6年6月1日</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>〒905-0415　<br class="u-sp">沖縄県国頭郡今帰仁村字玉城763番地</td>
        </tr>
        <tr>
          <th>TEL</th>
          <td>
            0980-56-5326
          </td>
        </tr>
        <tr>
          <th>FAX</th>
          <td>0980-56-5328</td>
        </tr>
        <tr>
          <th>従業員</th>
          <td>8名</td>
        </tr>
        <tr>
          <th>代表</th>
          <td>松 清嗣</td>
        </tr>
        <tr>
          <th>事業</th>
          <td>乳製品製造・加工・販売・卸売り</td>
        </tr>
        <tr>
          <th>URL</th>
          <td><a href="https://www.oppanyu.jp/" target="_blank">https://www.oppanyu.jp/</a></td>
        </tr>
      </table>

      <div class="ttl"><p>アクセス</p></div>
      <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3565.2477156092846!2d127.97079181503979!3d26.672558883231655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e4f8714aa616a7%3A0x71df68bc31080769!2z44CSOTA1LTA0MTUg5rKW57iE55yM5Zu96aCt6YOh5LuK5biw5LuB5p2R5a2X546J5Z-O77yX77yW77yT!5e0!3m2!1sja!2sjp!4v1574652596050!5m2!1sja!2sjp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>

      <div class="btn-wrap"><a class="btn02" href="#">おっぱ乳業の商品一覧</a></div><!-- /.btn-wrap-->

    </div><!-- /.inner -->
  </div><!-- /.inner-wrapper -->

</div><!-- /.p_company-->

{% render 'under-common-block' %}